<!DOCTYPE html>
<html>
<head>
	<title>code 401 Mobile Dev</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="row nopadding">

    <!-- left panel -->
    <div class="col-lg-8 nopadding">

        <!-- Title -->
        <div class="row nopadding">
            <div class="col-lg-12">
                <div class="blog-header">
                    <div class="blog-title">Code 401 Course Desc</div>
                    <div class="lead blog-description">
                        - Mobile Dev
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->

        <div style="padding: 20px 30px;">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <p>Create mobile games and apps for the Android and iOS operating systems. Take your app ideas from concept to completion and learn the tools, frameworks, and best practices used by mobile developers around the world.</p>
                <p>Throughout this intensive course, you will study professional techniques and practices as you advance your skills in mobile development. This course includes career development curriculum to get you ready for your job search, plus job search assistance after graduation.</p>
                <p>Daytime track is 400 hours total. Course hours include lecture, lab, and coworking.</p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Outcomes</h2>
                <p>At the end of this course students will:</p>
                <ul style="list-style: circle">
                    <li>Create mobile apps in Java for the Android operating system and Swift for the iOS operating system.</li>
                    <li>Use industry tools and frameworks, such as Cocoa, Xcode, UIKit, and Git.</li>
                    <li>Understand and know how to properly use UIKit, asynchronous code, CoreImage, NSURLSession and JSON, AutoLayout, Source Control, Core Data, Animation, and the app submission process.</li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Prerequisites</h2>
                
                <ul style="list-style: circle">
                    <li><a href="">Code 301</a></li>
                    <li>Students with previous mobile development experience can test out of this requirement in their application. If you'd like to test straight into this course, you will need to showcase at least one live web or mobile app that shows off your skills as a developer.</li>
                    <li>All students are expected to complete the prework for this course before the first day of class.</li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Topics</h2>
                <ul>
                    <li>
                        Cocoa Touch:
                        <ul>
                            <li>UIKit</li>  
                            <li>View Hierarchy</li>  
                            <li>Responding to Touch Events</li>  
                            <li>Animation / Custom Interactive Transitions</li>  
                            <li>UITableView / UICollectionView</li>  
                            <li>Container View Controllers</li>  
                            <li>Foundation</li>  
                            <li>Collection Classes Under the Hood</li>  
                            <li>Strings and String Manipulation</li>  
                            <li>Networking with NSURLSession</li>  
                            <li>Core Data</li>  
                            <li>Create and Design Model Objects in a Relational Database (SQLite)</li>  
                            <li>Optimize Your Code for Complex, Lightning-Quick Database Lookups</li>  
                            <li>Migrating your Data</li>  
                            <li>Concurrency and Core Data</li>  
                            <li>Web APIs</li>  
                            <li>HTTP Protocol</li>  
                            <li>REST API</li>  
                            <li>JSON</li>  
                            <li>Callbacks</li>  
                            <li>OAuth</li>  
                        </ul>
                    </li>
                    <li>
                        Swift
                        <ul>
                            <li>Types</li>
                            <li>Primitives - Integer, Float, String, and Boolean</li>
                            <li>Collections - Arrays and Dictionaries</li>
                            <li>Classes and Structs</li>
                            <li>Enums</li>
                            <li>Functions</li>
                            <li>Global Functions</li>
                            <li>Methods</li>
                            <li>Nested Functions</li>
                            <li>Closures and Closure Expressions</li>
                            <li>Essential & Advanced Swift Features</li>
                            <li>Optionals</li>
                            <li>Initializers</li>
                            <li>Nested Types</li>
                            <li>Extensions</li>
                            <li>Generics</li>
                            <li>Advanced Operators and Overloading</li>
                            <li>Pattern Matching</li>
                        </ul>
                    </li>
                    <li>
                        Xcode:
                        <ul>
                            <li>Design patterns</li>
                            <li>MVC</li>
                            <li>Target Action</li>
                            <li>Delegation</li>
                            <li>Notifications</li>
                            <li>Projects</li>
                            <li>File Structure</li>
                            <li>Navigation</li>
                            <li>Build Settings</li>
                            <li>Property Lists</li>
                            <li>Bundles</li>
                            <li>Interface Builder</li>
                            <li>Storyboards</li>
                            <li>Size Classes</li>
                            <li>Autolayout</li>
                            <li>Xibs</li>
                            <li>Outlets and Actions</li>
                            <li>Tags</li>
                            <li>Debugging</li>
                            <li>Breakpoints</li>
                            <li>Logging</li>
                            <li>LLDB</li>
                            <li>Profiling Apps with Instruments</li>
                            <li>Testing</li>
                            <li>Unit Testing with XCTest</li>
                            <li>Optimizing Method Calls with Performance Tests</li>
                        </ul>
                    </li>
                    <li>
                        Collaboration:
                        <ul>
                            <li>Collaboration-Based Environment</li>
                            <li>Pair Programming</li>
                            <li>Group Projects</li>
                            <li>Agile Work Environment</li>
                            <li>Cocoa Pods / Carthage</li>
                            <li>Source Control</li>
                            <li>Repositories</li>
                            <li>Forking</li>
                            <li>Cloning</li>
                            <li>Pull Requests</li>
                            <li>Collaborators</li>
                            <li>SDKs and Frameworks</li>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Parse</li>
                            <li>Github</li>
                            <li>Stack Overflow</li>
                        </ul>
                    </li>
                    <li>
                        Data Structures and Algorithms
                        <ul>
                            <li>Linked Lists</li>
                            <li>Stacks/Queues</li>
                            <li>Trees</li>
                            <li>Binary Search Trees</li>
                            <li>Sorting Algorithms</li>
                            <li>Hash Maps</li>
                            <li>Daily Whiteboard Interview Practice</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Career Development Curriculum</h2>
                <p>Two full days of Code 401 are dedicated to workshops and presentations that teach students the skills they'll need for their job search, such as personal branding techniques, effective networking practices, how to create an attractive resume, mastering personal and technical interviews, job search best practices, and more. An additional one-day job search strategy workshop is held in the week after graduation.</p>
                <p>Additionally, during each Project Week, students present projects that will go into their professional portfolio. <a href="">Learn More</a></p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Learn with Stacked Modules</h2>
                <p>Concepts in each of our courses are taught using stacked modules, where a new concept is introduced in each class session, building upon what came before it. This is a challenging style that requires persistence, practice, and collaboration, but allows more concepts to be introduced over the length of the course. This method helps students learn and retain more information in a short period of time. <a href="">Learn more about stacked modules »</a></p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Homework Policy</h2>
                <p>In order to pass the class, students must attain at least 90% of available points.</p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Professionalism</h2>
                <p>Punctuality, participation in discussions, completion of assignments, and demonstration of professional courtesy to others are required, in accordance with our Code of Conduct. Attendance will be taken at the beginning of every class. Passing requires at least 90% attendance. Students should always contact the instructors ahead of time if they are unable to attend all or part of published class / lab hours. </p>
            </div>
        </div>
    </div>

    <!-- right panel -->
    <div class="col-lg-4 nopadding">
        <div style="padding: 20px 30px;">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Course Details</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Daytime Track: 4 Weeks</a></li>
                    <li><a href="#">Nights & Weekends Track: 8 Weeks</a></li>
                    <li><a href="#">Tuition: $3,500 Financing & Scholarships</a></li>
                    <li><a href="#">Upcoming Dates & Locations</a></li>
                </ul>
            </div>

            <div class="sidebar-module">
                <h4>Related Courses</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Course 101 - Basic</a></li>
                    <li><a href="#">Course 101 - Language</a></li>
                    <li><a href="#">Course 201 - Design</a></li>
                    <li><a href="#">Course 201 - Algorithm</a></li>
                    <li><a href="#">Course 201 - Front-end</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>










</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>