<!DOCTYPE html>
<html>
<head>
	<title>code 501 Java</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="row nopadding">

    <!-- left panel -->
    <div class="col-lg-8 nopadding">

        <!-- Title -->
        <div class="row nopadding">
            <div class="col-lg-12">
                <div class="blog-header">
                    <div class="blog-title">Code 501 Course Desc</div>
                    <div class="lead blog-description">
                        - Java
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->

        <div style="padding: 20px 30px;">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <p>For years, Java has consistently maintained its place as the world's most popular language used today. As a "write one, run anywhere" language, Java is used on all kinds of devices, from mobile phones to submarines. We're partnering with Oracle to bring proven curriculum to our fast-paced class formula.</p>
                <p>In this class, students will learn and use the core language features and Application Programming Interfaces (API) to design object-oriented applications with Java Standard Edition 8 (Java SE 8) Platform.</p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Outcomes</h2>
                <p>At the end of this course students will:</p>
                <ul style="list-style: circle">
                    <li>Create Java technology applications with the latest JDK Technology.</li>
                    <li>Develop their object-oriented skills.</li>
                    <li>Identify good practices in the use of the language to create robust Java application.</li>
                    <li>Use Lambda expressions in Java applications.</li>
                    <li>Store and manipulate data using collections.</li>
                    <li>Manipulate files, directories and file systems.</li>
                    <li>Connect to databases using standard SQL queries through JDBC.</li>
                    <li>Create high-performance multi-threaded applications.</li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Prerequisites</h2>
                <p>Students enrolling in this course should:</p>
                <ul style="list-style: circle">
                    <li>Understand basic programming: flow control and OOP in any other language</li>
                    <li>Complete the IntelliJ <a href="">Hello World Tutorial.</a></li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Topics</h2>
                <ul>
                    <li>Java Platform Overview</li>
                    <li>Java Syntax and Class Review</li>
                    <li>Encapsulation and Subclassing</li>
                    <li>Overriding Methods, Polymorphism, and Static Classes</li>
                    <li>Abstract and Nested Classes</li>
                    <li>Interfaces and Lambda Expressions</li>
                    <li>Collections and Generics</li>
                    <li>Collections Streams, and Filters</li>
                    <li>Lambda Built-in Functional Interfaces</li>
                    <li>Lambda Operations</li>
                    <li>Exceptions and Assertions</li>
                    <li>Java Date/Time API</li>
                    <li>I/O Fundamentals</li>
                    <li>File I/O (NIO.2)</li>
                    <li>Concurrency</li>
                    <li>The Fork-Join Framework</li>
                    <li>Parallel Streams</li>
                    <li>Database Applications with JDBC</li>
                    <li>Localization</li>
                </ul>
            </div>
            
            <div class="blog-post">
                <h2 class="blog-post-title">Learn with Stacked Modules</h2>
                <p>Concepts in each of our courses are taught using stacked modules, where a new concept is introduced in each class session, building upon what came before it. This is a challenging style that requires persistence, practice, and collaboration, but allows more concepts to be introduced over the length of the course. This method helps students learn and retain more information in a short period of time. <a href="">Learn more about stacked modules »</a></p>
                <p>If bringing your own computer:</p>
                <p>Windows users will need a Linux environment, recommend setting up a VirtualBox (https://www.virtualbox.org/wiki/Downloads) and Ubuntu (http://www.ubuntu.com/download/desktop). Text Editor, recommend using Atom (https://atom.io/)</p>
            </div>
            
        </div>
    </div>

    <!-- right panel -->
    <div class="col-lg-4 nopadding">
        <div style="padding: 20px 30px;">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Course Details</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Daytime Track: 4 Weeks</a></li>
                    <li><a href="#">Nights & Weekends Track: 8 Weeks</a></li>
                    <li><a href="#">Tuition: $3,500 Financing & Scholarships</a></li>
                    <li><a href="#">Upcoming Dates & Locations</a></li>
                </ul>
            </div>

            <div class="sidebar-module">
                <h4>Related Courses</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Course 101 - Basic</a></li>
                    <li><a href="#">Course 101 - Language</a></li>
                    <li><a href="#">Course 201 - Design</a></li>
                    <li><a href="#">Course 201 - Algorithm</a></li>
                    <li><a href="#">Course 201 - Front-end</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>










</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>