<!DOCTYPE html>
<html>
<head>
	<title>code 501 Python</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="row nopadding">

    <!-- left panel -->
    <div class="col-lg-8 nopadding">

        <!-- Title -->
        <div class="row nopadding">
            <div class="col-lg-12">
                <div class="blog-header">
                    <div class="blog-title">Code 501 Course Desc</div>
                    <div class="lead blog-description">
                        - Python
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->

        <div style="padding: 20px 30px;">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <p>It's crucial for modern companies to have clean, easy-to-understand data to inform business direction and measure outcomes. Data literacy and organization allow for better decision-making, faster interpretation, and more widespread comprehension throughout an organization. Being able to collect, manage, understand, contemplate, and communicate with data will separate those who experience change to those who drive it.</p>
                <p>In this course, you will learn how to harness the power of Python to gain highly coveted skill in data analysis and visualization. We’ll cover how to use standard packages for the organization, analysis, and visualization of data, such as Numpy, Scipy, Matplotlib, and Scikit-Learn. You’ll get to apply these skills on a daily basis and, at the end, produce a substantial project showcasing your new abilities as a data analyst.</p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Outcomes</h2>
                <p>At the end of this course students will:</p>
                <ul style="list-style: circle">
                    <li>Be familiar with the standard data analysis tools of Python.</li>
                    <li>Know how to visualize their data, whether processed or not, so that they can communicate its relevance to those with and without the appropriate domain knowledge.</li>
                    <li>Understand how to clean data and prune for quality without losing depth of meaning (or at least be able to adequately explain information loss) such that any analysis using that data isn't hampered by regular or irregular artifacts.</li>
                    <li>Be equipped to attack small to mid-size data sets with one of the most popular modern programming languages, empowering them with the agency to handle mass amount of data that the world generates daily.</li>
                    <li>Be able to back up claims based in data with solid reporting and data-driven analyses, adding to the legitimacy of their work and the credibility of their decisions.</li>
                    <li>Complete a deep dive and thorough analysis of a publicly-available data set. This will be done in class as a group project. It should include at least three meaningful figures describing their data and relevant to their analysis, along with the hypotheses (if there were any) that drove them to that analysis, and any insightful conclusions they may have gained from their analysis (even if it was a null result).</li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Prerequisites</h2>
                <p>SStudents enrolling in this coures should:</p>
                <ul style="list-style: circle">
                    <li>Know arithmetic and basic algebra</li>
                    <li>Have seen a mathematical matrix (even if it's not yet understood)</li>
                    <li>Understand Git and GitHub</li>
                    <li>
                        Have a basic understanding of Python:
                        <ul>
                            <li>Built-in Python data structures and functions (list, tuple, dict, int, float, string, len, sum, min, max)</li>
                            <li>Performing basic mathematical operations in Python (with and without math from the standard library)</li>
                            <li>Writing custom functions and classes</li>
                            <li>Importing packages</li>
                            <li>Running scripts</li>
                            <li>Reading/writing files</li>
                            <li>Installing new packages</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Topics</h2>
                <ul>
                    <li>
                        Day 1: Aggregate Analysis
                        <ul>
                            <li>Learn to convert an unruly dataset into meaningful numbers with Descriptive Statistics</li>    
                            <li>Leverage the math superpowers of the NumPy package</li>    
                            <li>
                                See the when, why, and how of:
                                <ul>
                                    <li>Linear graphs</li>
                                    <li>Scatter plots</li>
                                    <li>Plots with multiple data sets</li>
                                </ul>
                            </li>    
                            <li>Package and present the code ⇔ data story graphically with Jupyter Notebook</li>     
                        </ul>
                    </li>
                    <li>
                        Day 2: Making Reliable Hypothesis
                        <ul>
                            <li>Utilize your data within the Scientific Method: Hypothesis, model, experimentation, and conclusion</li>
                            <li>Build a foundation for assessment with basic probability</li>
                            <li>Construct testable data-driven hypotheses</li>
                            <li>Engage with the data using Pandas DataFrames</li>
                            <li>Visualize distributions with histograms, bar charts, and box plots with Matplotlib (including: what they all mean, and when to use them)</li>
                            <li>Build better hypotheses with data patterns common in the industry</li>
                        </ul>
                    </li>
                    <li>
                        Day 3: Build Meaningful Models
                        <ul>
                            <li>Implement the Gradient Descent Algorithm to hone in on parameters for your model</li>
                            <li>Learn just enough matrix math to quickly perform Linear Regression</li>
                            <li>Harness the power of the SciPy package to model data</li>
                            <li>See how the Scikit-Learn package can do the heavy lifting for you</li>
                        </ul>
                    </li>
                    <li>
                        Day 4: Data Munging & Data Display
                        <ul>
                            <li>
                                Know the limits:
                                <ul>
                                    <li>Rescale data for better decision making</li>
                                    <li>Understand when, why, and how</li>
                                    <li>Execute with and without Scikit-Learn</li>
                                </ul>
                            </li>
                            <li>Identify and manage problematic data</li>
                            <li>Visualize complex multi-dimensional datasets via heatmaps in Matplotlib</li>
                            <li>Revisit reporting with Jupyter Notebook</li>
                            <li>Pitch and evaluate portfolio project ideas</li>
                        </ul>
                    </li>
                    <li>
                        Day 5: Build Out Your Own Data Report
                        <ul>
                            <li>Put it all together with a portfolio-worthy data project</li>
                            <li>Find and clean a data set of interest to you</li>
                            <li>Create graphics to tell your data story</li>
                            <li>Write a robust analysis and interpretation of the data and your findings</li>
                            <li>Share your analysis with a final public Jupyter Notebook</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Learn with Stacked Modules</h2>
                <p>Concepts in each of our courses are taught using stacked modules, where a new concept is introduced in each class session, building upon what came before it. This is a challenging style that requires persistence, practice, and collaboration, but allows more concepts to be introduced over the length of the course. This method helps students learn and retain more information in a short period of time. <a href="">Learn more about stacked modules »</a></p>
            </div>
        </div>
    </div>

    <!-- right panel -->
    <div class="col-lg-4 nopadding">
        <div style="padding: 20px 30px;">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Course Details</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Daytime Track: 4 Weeks</a></li>
                    <li><a href="#">Nights & Weekends Track: 8 Weeks</a></li>
                    <li><a href="#">Tuition: $3,500 Financing & Scholarships</a></li>
                    <li><a href="#">Upcoming Dates & Locations</a></li>
                </ul>
            </div>

            <div class="sidebar-module">
                <h4>Related Courses</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Course 101 - Basic</a></li>
                    <li><a href="#">Course 101 - Language</a></li>
                    <li><a href="#">Course 201 - Design</a></li>
                    <li><a href="#">Course 201 - Algorithm</a></li>
                    <li><a href="#">Course 201 - Front-end</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>










</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>