<!DOCTYPE html>
<html>
<head>
	<title>code 501 VR</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="row nopadding">

    <!-- left panel -->
    <div class="col-lg-8 nopadding">

        <!-- Title -->
        <div class="row nopadding">
            <div class="col-lg-12">
                <div class="blog-header">
                    <div class="blog-title">Code 501 Course Desc</div>
                    <div class="lead blog-description">
                        - VR
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->

        <div style="padding: 20px 30px;">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <p>Dive into the world of virtual reality with Unity and learn to develop environments for the HTC Vive. Throughout the course, you will develop a full virtual reality game as you study the most important aspects of the Unity engine.</p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Prerequisites</h2>
                <p>Students should have basic programming skills. Experience working with a game engine or 3D modeling tool is useful but not required.</p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Course Outline</h2>
                <ul>
                    <li>A comprehensive overview of Unity, its API, C#, and several VR SDKs</li>
                    <li>Hands-on experience with mobile and high-end VR hardware</li>
                    <li>Game programming and interactive design paradigms</li>
                    <li>VR best practices, optimization, and UI/UX approaches</li>
                    <li>An intensive, project-driven curriculum, accompanied by exercises, guest lectures, and collaborative work</li>
                </ul>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Learn with Stacked Modules</h2>
                <p>Concepts in each of our courses are taught using stacked modules, where a new concept is introduced in each class session, building upon what came before it. This is a challenging style that requires persistence, practice, and collaboration, but allows more concepts to be introduced over the length of the course. This method helps students learn and retain more information in a short period of time. <a href="">Learn more about stacked modules »</a></p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Professionalism</h2>
                <p>Punctuality, participation in discussions, completion of assignments, and demonstration of professional courtesy to others are required, in accordance with our Code of Conduct. Attendance will be taken at the beginning of every class. Passing requires at least 90% attendance. Students should always contact the instructors ahead of time if they are unable to attend all or part of published class / lab hours. </p>
            </div>
        </div>
    </div>

    <!-- right panel -->
    <div class="col-lg-4 nopadding">
        <div style="padding: 20px 30px;">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Course Details</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Daytime Track: 4 Weeks</a></li>
                    <li><a href="#">Nights & Weekends Track: 8 Weeks</a></li>
                    <li><a href="#">Tuition: $3,500 Financing & Scholarships</a></li>
                    <li><a href="#">Upcoming Dates & Locations</a></li>
                </ul>
            </div>

            <div class="sidebar-module">
                <h4>Related Courses</h4>
                <ul style="list-style: circle">
                    <li><a href="#">Course 101 - Basic</a></li>
                    <li><a href="#">Course 101 - Language</a></li>
                    <li><a href="#">Course 201 - Design</a></li>
                    <li><a href="#">Course 201 - Algorithm</a></li>
                    <li><a href="#">Course 201 - Front-end</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                    <li><a href="#">Course 301</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>










</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>